data/htmls/*
data/xmls/*
data/jsons/*
data/samples/*
data/olga_mp3/*
data/disco-olga_mp3/*
data/olga/clap_raw/*
data/remainder_mp3/*
data/duplicate_mp3/*
data_collection/helper/*
jobs/*.err
jobs/*.out
